# build output
dist/
.output/
.vercel/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables & secrets
.env
.env.local
.env.*.local
.env.production
*.pem
*.key

# cloudflare / wrangler
.wrangler/

# docs not meant for public repo
Guide.md

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# vscode (optional, agar personal settings commit nahi karni)
.vscode/*
!.vscode/extensions.json

